<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script defer src="../static/script.js"></script>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <meta name="author" content="Adam Sultan">
        <meta name="keywords" content="Carnegie Mellon University, Information Systems">
        <meta name="description" content="Adam Sultan's professional website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adam Sultan</title>
    </head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Adam Sultan</h1>
        <nav id="myTopNav" class="topnav">
            <a href="index.html">Home</a>
            <a href="CV.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon" >

                <i class="fa fa-bars" onclick="activeNav()"></i>
 
            </a>
        </nav>
    </header>
    <div class="main">
        <h2 id="CV">Curriculum Vitae</h2>
        <table>
            <tr><th><strong>Name</strong></th><th><strong>Description</strong></th></tr>
            <tr><td>Carnegie Mellon University</td><td>Freshman studying Information Systems; eager to pursue a career in data science or software engineering</td></tr>           
            <tr><td>Intelliminds</td><td>Co-founder and President; oversee all company operations, manage funds, assign work, hire new employees</td></tr>
            <tr><td>EcoAccess NYC</td><td>Treasurer and member of Board of Directors; advise current board, offer assistance to the IT department, manage company funds, arrange and maintain partnerships</td></tr>
            <tr><td>Inkdash</td><td>Web development for various organizations, outreach, connecting and communicating with clients</td></tr>
        </table>
        <a href="../static/AdamSultanResume.pdf" target="_blank">My resume, PDF version</a>
    </div>
    <footer>
        <p id="copyYear">Adam Sultan &copy</p>
    </footer>
</body>
</html>

